/* Alumination Image and Clouds */
:root{
  --fs : 25px
} 

.body{
  scroll-snap-type: y mandatory;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
.alumination {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    background-image: url('../img/alumination/fantasy.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    background-size:cover;
    z-index: -10;
}

.alumination .clouds{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.alumination .clouds img{
    position: absolute;
    bottom: 0;
    max-width: 100%;
    animation: clouds calc(8s * var(--i)) linear infinite;
    height: 125vh;
    width: 500vh;
}
@keyframes clouds {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

/* Alumination Image and Clouds Ends*/

/* CSS for interactive button */

a {
    position: relative;
    display: inline-block;
    padding: 1.2em 2em;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    color: white;
  }
  a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    border-radius: 4px;
    transition: box-shadow 0.5s ease, transform 0.2s ease;
    will-change: transform;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0)) translateZ(var(--tz, -12px));
  }
  a:hover::before {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  a:hover{
    font-size: 20px;
    transition: 0.3s;
  }
  a::after {
    position: relative;
    display: inline-block;
    content: attr(data-title);
    transition: transform 0.2s ease;
    font-weight: bold;
    letter-spacing: 0.01em;
    will-change: transform;
    transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0));
  }

  /* Button CSS Ends */

  /*Alumination Font*/

  @keyframes intro {
    0%{
      transform: translateY(200%);
      opacity: 0;
    }
    100%{
      transform: translateY(0);
      opacity: 1;
    }
  }
  #headtext::before {
    content: attr(data-heading);
    margin-top: 50vh;
    width: 100%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    color: transparent;
    mix-blend-mode: screen;
    -webkit-animation: shine 1s infinite;
            animation: shine 1s infinite;
    background-size: 200%;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2), -2px 2px 10px rgba(0, 0, 0, 0.2), -2px -2px 10px rgba(0, 0, 0, 0.2);
  }
  
  @-webkit-keyframes shine {
    0% {
      background-position: -100%;
    }
    100% {
      background-position: 100%;
    }
  }
  
  @keyframes shine {
    0% {
      background-position: -100%;
    }
    100% {
      background-position: 100%;
    }
  }
  /* Not needed for demo */
  @font-face {
    font-family: "frozen";
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Ice%20kingdom%20-%20Bold%20-%20Por%20Kustren.woff");
  }
  
  #headtext {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/6963bbf342d87b3a2150bd8f59682b89.jpg);
    -webkit-background-clip: text;
    background-size: contain;
    text-align: center;
    color: transparent;
    font-weight: 900;
    position: sticky;
    top: 0;
    animation: intro 3s linear;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute; */
    font-size: 150px;
    margin: 0;
    font-family: "frozen", serif;
    font-weight: 700;
    transition: 3s;
  }

  .topright{
    top: 0%!important;
    left: 0%!important;
    transform: translate(0, 0);
  }

  /* Alumination Text Ends*/
  
.content{
  margin-top: 45vh;
  width: 100%;
  padding: 0 50px;
}

.filler{
  height: 200vh;
  width: 1000vw;
}

.headcontainer{
  position: relative;
  height: 100vh;
  width: 100vw;
  margin-bottom: 40vh;
}

.aboutalum{
  font-size: 30px;
  color: black;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  scroll-snap-align: start;
  
}

.stats{
  height: 100vh;
  background: #6e8efb;
}

p.pchart{
  padding-bottom: 20px;
}

blockquote{
  border-left: 5px solid #ffce55;
  background-color: white;
  padding: 10px 8px;
}

div.chartcircles{
  margin: auto;
  width: 80%;
  display: flex;
  flex-wrap: w]]]]]]]]]  justify-content: space-around;
}

canvas.progress{
  /* border: 2px solid #f2c351; */
  height: 330px;
  width: 330px;
  background-color: #f9f9f9;
}

p.circlelabels{
  text-align: center;
  color: #333333;
  font-size: 16;
  text-transform: uppercase;

}