@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

body {
	background: #e3f2fd
}

.svghead {
	font-family: 'Russo One', sans-serif;
	width: 800px; height: 200px;
    margin-top: 80px;
}
.svghead text {
	text-transform: uppercase;
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #365fa0;
	font-size: 100px;
    position: absolute;
    top: 0;
    left: 0;
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,20,0); stroke: #808080;
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,20,0); stroke: #808080; }
	80%  {fill: rgba(72,138,20,0); stroke: #808080; stroke-width: 3; }
	100% {
		fill: white; stroke: rgba(54,95,160,0); 
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

.globalwrap{
    width: 100vw;
    min-height: 100vh;
    padding: 10px 70px;
    position: relative;
}

.cardwrap{
  min-height: 50vh;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  overflow: hidden;
}

  .card {
    font-weight: bold;
    padding: 1em;
    color: white;
    
    width:  300px;
    height: 400px;
    box-shadow: 0 1px 5px #00000099;
    
    border-radius: 10px;
    
    position: relative;
    
    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
    transform: rotate3d(0);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
  }

  .e-shadow {
    background-image: url('../img/events/SHADOW\ PROGRAM.jpg');
    background-size: cover;
  }
  .e-interviewWorkshop {
    background-image: url('../img/events/Workshops.jpg');
    background-size: cover;
  }
  .e-migd {
    background-image: url('../img/events/mi.jpg');
    background-size: cover;
  }
  .e-bti {
    background-image: url('../img/events/bti.jpg');
    background-size: cover;
  }
  .e-groupm {
    background-image: url('../img/events/mi.jpg');
    background-size: cover;
  }
  .e-speedm {
    background-image: url('../img/events/mi.jpg');
    background-size: cover;
  }
  .e-workshop {
    background-image: url('../img/events/Workshops.jpg');
    background-size: cover;
  }
  .e-networking {
    background-image: url('../img/events/Networking\ arena.jpg');
    background-size: cover;
  }
  .e-panel {
    background-image: url('../img/events/Panel\ Discussion.jpg');
    background-size: cover;
  }
  .e-ceo {
    background-image: url('../img/events/CEO.jpeg');
    background-size: cover;
  }
  .e-game {
    background-image: url('../img/events/Game\ night.jpg');
    background-size: cover;
  }
  .e-migd {
    background-image: url('../img/events/mi.jpg');
    background-size: cover;
  }
  .e-bti {
    background-image: url('../img/events/bti.jpg');
    background-size: cover;
  }
  .e-groupm {
    background-image: url('../img/events/mi.jpg');
    background-size: cover;
  }
  .e-speedm {
    background-image: url('../img/events/mi.jpg');
    background-size: cover;
  }
  .e-workshop {
    background-image: url('../img/events/Workshops.jpg');
    background-size: cover;
  }
  .e-startup {
    background-image: url('../img/events/startup.jpg');
    background-size: cover;
  }
  .e-cfc {
    background-image: url('../img/events/CFC.jpg');
    background-size: cover;
  }
  .e-bth {
    background-image: url('../img/events/BTH\ \(1\).jpg');
    background-size: cover;
  }
  
  .card:hover {
    transition-duration: 150ms;
    box-shadow: 0 5px 20px 5px #00000044;
  }
  
  .card .glow {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    
    background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
  }


  #webgl-canvas {
    background: radial-gradient(
      circle farthest-corner at center top,
      #071021,
      #19324a
    );
    width: 100vw!important;
    height: 100%!important;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
  }


  

@media (max-width: 600px) {

    .alumtext{
        width: 325px;
        height: 150px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-55%) translateY(-50%);
    }

    .alumination .clouds img{
        height: 30vh;
        position: absolute;
        bottom: 0;
        max-width: 100%;
        animation: clouds calc(8s * var(--i)) linear infinite;
    }

    .islandleft{
        display: none;
    }

    .islandright{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 325px;
        height: 325px;
    }

}


@media (max-width: 600px) {

 .globalwrap{
  padding: 20px;
 }

 .cardwrap{
  justify-content: center;
 }

 .svghead{
  margin-top: 0px;
 }

 .svghead text {
	font-size: 50px;

}
}