
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    caret-color: transparent;
}

/* Modal CSS */

:root{
    --gpad: 40px
}


.regmodal{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    z-index: 25;
    width: 500px;
    height: 600px;
    position: fixed;
    margin-top: 100px;
    left: 50%;
    transform: translateX(-50%) ;
    padding: var(--gpad);
    overflow-y: scroll;
    display: none;
    background: linear-gradient(90deg, rgba(94,133,252,1) 0%, rgba(196,109,253,1) 100%, rgba(0,212,255,1) 100%);

}

#openModel:target{
    display: block;
}

.modal_title{
    font-size: 35px;
    margin-bottom: 20px;
    color: white;
}

.regmodel form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

.regmodal form select, .regmodal form input{
    display: block;
    width: 100%;
    padding: 9px;
    margin-bottom: 30px;
    border-radius: 7px;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#resumelabel{
    margin-bottom: 30px;
    color: white;
}

#resume{
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    color: white;
}

.regmodal .custom-btn{
  margin: 0;
  margin-right: 20px;
}

#coresub{
  display: none;
  caret-color: black;
}



@media (max-width: 600px) {

    :root{
        --gpad: 20px
    }

    .regmodal{
        width: 350px;
        height: 500px;
    }
}

/* Modal CSS */

.globalcontainer{
    padding: 70px;
  padding-top: 0;
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(90deg, rgba(94,133,252,1) 0%, rgba(196,109,253,1) 100%, rgba(0,212,255,1) 100%);
}


.maininfo{
    margin-top: 40px;
    min-height: 100vh;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

button {
    margin: 20px;
  }
  .custom-btn {
    width: 130px;
    height: 60px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;

    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    margin-left: 0;
    margin-bottom: var(--gpad);
    margin-top: var(--gpad);
  }


  .btn-8 {
    background-color: #f0ecfc;
  background-image: linear-gradient(315deg, #f0ecfc 0%, rgba(196,109,253,1) 74%);
    line-height: 42px;
    padding: 0;
    border: none;
  }

  .btn-8:before,
  .btn-8:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: white;
    /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
    transition: all 0.3s ease;
  }
  .btn-8:before{
     height: 0%;
     width: 2px;
  }
  .btn-8:after {
    width: 0%;
    height: 2px;
  }
  .btn-8:hover:before {
    height: 100%;
  }
  .btn-8:hover:after {
    width: 100%;
  }
  .btn-8:hover{
    background: transparent;
  }
  .btn-8 span:hover{
    color: white;
  }
  .btn-8 span:before,
  .btn-8 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(196,109,253,1);
    /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
    transition: all 0.3s ease;
  }
  .btn-8 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-8 span:after {
    height: 2px;
    width: 0%;
  }
  .btn-8 span:hover:before {
    height: 100%;
  }
  .btn-8 span:hover:after {
    width: 100%;
  }

.texual{
    width: 60%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
}

.texual .headtext{
    font-size: 60px;
    color: white;
    padding-bottom: var(--gpad);
}

.texual .desctext{
    width: 100%;
    color: white;
}

.infocards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.infocards .card{
    background-color: white;
	width: 250px  ;
    height: 150px;
	padding: 16px;
	border-radius: 20px ;
	box-shadow: 0 10px 15px rgb(0, 0, 0, .05);
}

.card__title, .card__description {
	text-align: center;
	margin: 10px ;
}

.card__title {
	color: var(--dark-blue);
	font-size: 20px ;
	font-weight: 700;
	margin-bottom: 18px ;
}

.card__description {
	font-weight: 400;
	color: var(--grayish-blue);
	margin-bottom: 20px ;
}

.fillerimg{
    overflow: hidden;
    width: 500px;
}

.fillerimg img{
    width: 400px;
    height: 400px;
    animation: island 5s linear infinite;
}

#file-upload-button{
    background: white!important;
}

@keyframes island{
    0%{
        transform:  translateY(3%) ;
    }

    50%{
        transform: translateY(-3%) ;
    }

    100%{
        transform:translateY(3%) ;
    }
}

@media (max-width: 600px)
{

    .globalcontainer{
        padding: 30px;
    }
    .fillerimg img{
        display: none;
    }

    .texual .headtext{
        font-size: 40px;
    }

    .texual{
        width: 100%;
    }

   .maininfo{
    display: block;
   }

   .infocards{
    justify-content: center;
   }
}


nav{
    background: linear-gradient(90deg, rgba(94,133,252,1) 0%, rgba(196,109,253,1) 100%, rgba(0,212,255,1) 100%);

}

#overlay{
  background: linear-gradient(90deg, rgba(94,133,252,1) 0%, rgba(196,109,253,1) 100%, rgba(0,212,255,1) 100%);
}

footer{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    background: linear-gradient(90deg, rgba(94,133,252,1) 0%, rgba(196,109,253,1) 100%, rgba(0,212,255,1) 100%);

}

input::-webkit-file-upload-button{
  background: inherit;
  border: none;
  background-color: white;
  padding: 10px;
  color: black;

}

input::-webkit-file-upload-button:hover{
  cursor:pointer;

}

.submit{
  display: block;
  margin: auto!important;
  margin-bottom: 20px!important;
}

.closebtn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto!important;
}


