<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Alumination</title>
        <link rel="stylesheet" href="../static/css/alumination.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    </head>
    <body>
        <!-- <a href="#" data-title="Awesome Button"></a> -->
        <div class="headcontainer">
            <h1 id="headtext" contenteditable data-heading="Alumination">
              Alumination
            </h1>
        </div>
        
        
        <div class="aboutalum">
                To quench the thirst of all those who strive to gain the experience and expertise of our esteemed alumni, SARC is here with its biggest and most ostentatious event, our flagship, Alumination 2022. It is a 2 day extravaganza with loads of events lined up for the students so that they can excel in whatever field they wish to start their trail in, whether it be core, non-core or any bizarre field! Turn your dreams and speculations into reality (tagline ghusa denge) by being present here on 15th and 16th october!
        </div>

        <div class="stats">
            <div class="chartcircles">
                <div class="stats">
                  <canvas class="progress" height=330px width=330px></canvas>
                  <p class="circlelabels">Web Design</p>
                </div>  
                <div class="stats">
                  <canvas class="progress" height=330px width=330px></canvas>
                  <p class="circlelabels">Web Development</p>
                </div>  
                <div class="stats">
                  <canvas class="progress" height=330px width=330px></canvas>
                  <p class="circlelabels">Print Design</p>
                </div>    
              </div>  
            </div>
        </div>
            
        
        






        <div class="alumination" >
            <div class="clouds">
                <img src="../static/img/alumination/cloud1.png" style="--i:1;">
                <img src="../static/img/alumination/cloud2.png" style="--i:2;">
                <img src="../static/img/alumination/cloud3.png" style="--i:3;">
                <img src="../static/img/alumination/cloud4.png" style="--i:4;">
                <img src="../static/img/alumination/cloud5.png" style="--i:5;">
                <img src="../static/img/alumination/cloud6.png" style="--i:6;">
                <img src="../static/img/alumination/cloud1.png" style="--i:7;">
                <img src="../static/img/alumination/cloud2.png" style="--i:8;">
                <img src="../static/img/alumination/cloud3.png" style="--i:9;">
                <img src="../static/img/alumination/cloud4.png" style="--i:10;">
                <img src="../static/img/alumination/cloud5.png" style="--i:11;">
            </div>
        </div>
    <script src="../static/js/alumination.js"></script>
    </body>
</html>