<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Alumination</title>
        <link rel="stylesheet" href="../static/css/alumination.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    </head>
    <body>
        <a href="#" data-title="Awesome Button"></a>
        <h1 contenteditable data-heading="Alumination">
            Alumination
        </h1>        
        <div class="alumination" >
            <div class="clouds">
                <img src="../static/img/alumination/cloud1.png" style="--i:1;">
                <img src="../static/img/alumination/cloud2.png" style="--i:2;">
                <img src="../static/img/alumination/cloud3.png" style="--i:3;">
                <img src="../static/img/alumination/cloud4.png" style="--i:4;">
                <img src="../static/img/alumination/cloud5.png" style="--i:5;">
                <img src="../static/img/alumination/cloud6.png" style="--i:6;">
                <img src="../static/img/alumination/cloud1.png" style="--i:7;">
                <img src="../static/img/alumination/cloud2.png" style="--i:8;">
                <img src="../static/img/alumination/cloud3.png" style="--i:9;">
                <img src="../static/img/alumination/cloud4.png" style="--i:10;">
                <img src="../static/img/alumination/cloud5.png" style="--i:11;">
            </div>
        </div>
    <script src="../static/js/alumination.js"></script>
    </body>
</html>