<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/bth.css">
    <link rel="stylesheet" href="../static/js/bth.js">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/add-to-calendar-button@1/assets/css/atcb.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/add-to-calendar-button@1/assets/css/atcb.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../static/js/counter.js"></script>
    <title>BTH</title>
</head>

<body >



    <main>
        
        <article>
          
          <section style="background-image: linear-gradient(  rgb(165, 216, 238) ,  rgba(205, 237, 246, 1) 0%,
           100%); z-index: 1000; " >
            <div class="sky" style
            ="z-index: -1000;">
                <div class="sky__phase sky__dawn"></div>
                <div class="sky__phase sky__noon"></div>
                <div class="sky__phase sky__dusk"></div>
                <div class="sky__phase sky__midnight">
                    <div id="sky__stars"></div>
                </div>
                <div class="orbit">
                    <div class="sun"></div>
                    <div class="moon"></div>
                </div>
            </div>
           




            <div class="eventhead banner">
                
                <div class="overlay">  <h1 class="gradient-heading">  Beyond The Horizon</h1></div>   
 </div>
                    
                        <div class="infosec">
                           <center>
                            <div class="infotext" >
                                You think IITians are nerds? If yes, then we have this event for you where you’ll meet IITB Alumni who’ve excelled in unconventional fields from an institute of technology POV and if not, then also, it’s for you Guest Speaker: Mr. Nitesh Tiwari
                            </div>
                           </center>
                    <br>
                    
                            <center>
                                <div class="infographics" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
                             
                                    <div class="datentime" style="color: #dd749a;
                                    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                                        <div class="date"><i class="fa fa-2x fa-calendar"></i> <p><span class="counter" data-count="15"></span> / <span class="counter" data-count="10"></span> / <span class="counter" data-count="2022"></span></p></div>
                                        <div class="time"><i class="fa fa-2x fa-clock-o"></i> <p><span class="counter" data-count="4">0</span> : <span class="counter" data-count="30">0</span></p> </div>
                                        <div  class="time"><div><i class="fa fa-2x fa-map-marker"></i></div><br><span>VMCC Prof Nag Auditorium</span></div>
                                    </div>
                                   
                                  
                                 </div>
                            </center>
                    
                            <center>
                                <div class="mapntoggle" style="align-items:center;justify-content:center ; ">
                                    <center>
                                        <div class="togglearea" style="font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #dd749a;">Toggle to participate &nbsp; <br>
                                        <!-- toggle button -->
                                        <input id="togBtn" class="switch" type="checkbox">
         
        
        <!-- <input class="switch" type="checkbox" style="--size: 40px; --inactive-bg: #FF8A65; --active-bg: #4DB6AC"> -->
                                        
                                        <div class="atcb" style="display:none;">
                                       
                                      </div>
    
                                    </center>
                                      
                                </div>
                            </center>
                                 
                    
                            </div>
                
                <!--  -->
                
                   
              
                    
          </section>
  
          <!-- 1 ends  -->


          <!-- 6 th ends -->
        </article>
      </main>

      <script src="../static/js/style.js"></script>
      <script>

        path = "{{request.path}}"
        var switchStatus = false;
        initial = '{{eventstate}}'
        if(initial == "False")  $('#togBtn').prop('checked', false);
        else $('#togBtn').prop('checked', true);
        function ajaxreq(switchvar){
            state = Number(switchvar)
            url = '/eventState'+path+'/'+state
            $.ajax({
            url: url,
            type: "GET",
            dataType: "json",
          });
        }
        $("#togBtn").on('change', function() {
            if ($(this).is(':checked')) {
                switchStatus = $(this).is(':checked');
                ajaxreq(switchStatus)
                // To verify
            }
            else {
            switchStatus = $(this).is(':checked');
            //    alert(switchStatus);// To verify
            ajaxreq(switchStatus)
            }
        });
    
    </script>
    <!-- add for counter -->
    <script src="../static/js/counter.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</body>
</html>