<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="../static/css/events.css">
    <link rel="stylesheet" href="../static/css/navbarfooter.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
</head>
<body>
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">

        <nav class="laptop">
      <ul class="1">
        <a href="/#about"><li>About</li></a>
        <a href="/events"><li>Events</li></a>
      </ul>
      <img src="../static/img/alumination/logo.png" alt="" />
      <ul class="2">
        <a href="/#alum"><li>Alumni</li></a>
        <a href="/profile/"><li>Profile</li></a>
      </ul>
    </nav>

    <nav class="mobile">
      <img src="../static/img/alumination/logo.png" alt="" srcset="" />
      <div id="hamburger">
        <svg width="70" height="70" viewBox="0 0 100 100">
          <path
            class="line line1"
            d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"
          />
          <path class="line line2" d="M 20,50 H 80" />
          <path
            class="line line3"
            d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"
          />
        </svg>
      </div>
    </nav>

    <div id="overlay">
      <ul>
        <a href="/#about"><li>About</li></a>
        <a href="/events"><li>Events</li></a>
        <a href="/#alum"><li>Alumni</li></a>
        <a href="/profile/"><li>Profile</li></a>
      </ul>
    </div>

   

    <div class="globalwrap">

        <canvas id="webgl-canvas"></canvas>
        	
        <svg class="svghead">
            <text y="120" height="200" width="500">
                Day Zero
            </text>
        </svg>

        <div class="cardwrap">
          <div class="card e-shadow">
            Shadow Program
            <div class="glow"></div>
          </div>
          <div class="card e-interviewWorkshop">
            Interview Workshop
            <div class="glow"></div>
          </div>     
        </div>
          
        <svg class="svghead">
            <text y="120" height="200" width="500">
                Day One
            </text>
        </svg>

        <div class="cardwrap">
            <div class="card e-migd">
                Mock Interview & Group Discussion
                <div class="glow"></div>
              </div>
              <div class="card e-bti">
                Break The Ice
                <div class="glow"></div>
              </div>
              <div class="card e-groupm">
                Group Mentoring
                <div class="glow"></div>
              </div>
              <div class="card e-speedm">
                Speed Mentoring
                <div class="glow"></div>
              </div>
              <div class="card e-workshop">
                Workshops
                <div class="glow"></div>
              </div>
              <div class="card e-networking">
                Networking Arena
                <div class="glow"></div>
              </div>
              <div class="card e-panel">
                Panel Discussion
                <div class="glow"></div>
              </div>
              <div class="card e-ceo">
                Ceo Connect
                <div class="glow"></div>
              </div>
              <div class="card e-game">
                Game Night
                <div class="glow"></div>
              </div>      
        </div>

        <svg class="svghead">
            <text y="120" height="200" width="500">
                Day Two
            </text>
        </svg>

        <div class="cardwrap">
          <div class="card e-migd">
            Mock Interview & Group Discussion
            <div class="glow"></div>
          </div>
          <div class="card e-bti">
            Break The Ice
            <div class="glow"></div>
          </div>
          <div class="card e-groupm">
            Group Mentoring
            <div class="glow"></div>
          </div>
          <div class="card e-speedm">
            Speed Mentoring
            <div class="glow"></div>
          </div>
          <div class="card e-workshop">
            Workshops
            <div class="glow"></div>
          </div>
          <div class="card e-startup">
            Startup Talks
            <div class="glow"></div>
          </div>
          <div class="card e-cfc">
            Coming Full Circle
            <div class="glow"></div>
          </div>
          <div class="card e-bth">
            Beyond The Horizons
            <div class="glow"></div>
          </div>
        </div>


    </div>





    <script src="../static/js/events.js"></script>
    <script src="../static/js/navbarfooter.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>