<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Mentoring</title>
</head>
<body>
    <h1>
        A mentor has a group of allotted mentees for a specific field among IT, Consulting, Analytics.. He mentors them, 
        We want to take reg of students, ask them about their top three preferences as drop down -- IT/SOftware, Consulting , Analytics, etc
        It will be held in VMCC Foyer with mentor on a chair and mentees around his/her table.
    </h1>
</body>
</html>