<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Mentoring</title>
</head>
<body>
    <h1>
        A mentor has a group of allotted mentees for a specific field among IT, Consulting, Analytics.. He mentors them, 
        We want to take reg of students, ask them about their top three preferences as drop down -- IT/SOftware, Consulting , Analytics, etc
        It will be held in VMCC Foyer with mentor on a chair and mentees around his/her table.
    </h1><br>
    <form method="post">
        {% csrf_token %}
        <select name="date" id="date">
            <option value="">Select Date</option>
            <option value="15th October">15th October</option>
            <option value="16th October">16th October</option>
            <option value="Any Day Works">Any Day Works</option>
        </select><br>
        <select name="pref1" id="pref1">
            <option value="">Select Pref1</option>
            <option value="Consulting">Consulting</option>
            <option value="Finance">Finance</option>
            <option value="Analytics">Analytics</option>
            <option value="IT/Software">IT/Software</option>
            <option value="Product Management">Product Management</option>
        </select><br>
        <select name="pref2" id="pref2">
            <option value="">Select Pref2</option>
            <option value="Consulting">Consulting</option>
            <option value="Finance">Finance</option>
            <option value="Analytics">Analytics</option>
            <option value="IT/Software">IT/Software</option>
            <option value="Product Management">Product Management</option>
        </select><br>
        <button type="submit" class="submit">SUBMIT</button>
    </form>
</body>
</html>