<!DOCTYPE html>
    <head>
        <title>Alumination</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/add-to-calendar-button@1/assets/css/atcb.min.css">
    </head>
    <body>

        <div class="atcb" style="display:none;">
            {
              "name":"Blockchain Hackathon",
              "description":"Win the prize of 3000 4000",
              "startDate":"2022-02-21",
              "endDate":"2022-03-24",
              "startTime":"10:13",
              "endTime":"17:57",
              "location":"VMCC",
              "label":"Add to Calendar",
              "options":[
                "Apple",
                "Google",
                "iCal",
                "Microsoft365",
                "MicrosoftTeams",
                "Outlook.com",
                "Yahoo"
              ],
              "timeZone":"Europe/Berlin",
              "inline":true,
              "iCalFileName":"Reminder-Event"
            }
          </div>

        <script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@1" async defer></script>

    </body>
</html>